{
 "ip": "172.25.26.43",
 "username" : "root",
 "password" : "2bon2b",
 "nmedia_grps" : 1,
 "media_grp1" : {
             "zone" : 2,
             "nvolumes" : 0,
             "ports" : ["13:40g-3/4", "15:40g-5/4"]
            },
 "host_ports" : "eth4,eth5",
 "node_ports" : "node13:eth4,node15:eth3"
}

